* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
.hidden-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
ul,
ol {
  margin: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0;
}
a {
  color: #333;
}
textarea {
  resize: none;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
.align-center {
  margin: 0 auto;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.my-container {
  width: 100%;
}
.my-content {
  margin: 0 auto;
}
.none {
  display: none;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.hidden {
  visibility: hidden;
}
.clear-both {
  clear: both;
}
:focus {
  outline: none;
}
.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
