<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletController1</servlet-name>
        <servlet-class>br.com.servlets.ServletController1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController1</servlet-name>
        <url-pattern>/ServletController1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/pageNotFound.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>endpoint_client</servlet-name>
        <servlet-class>br.com.servlets.EndpointGate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>br.com.luque.model2gether.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Server</servlet-name>
        <servlet-class>br.com.luque.model2gether.NoPollingServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>endpoint_client</servlet-name>
        <url-pattern>/synchronize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Server</servlet-name>
        <url-pattern>/Server</url-pattern>
    </servlet-mapping>
    <!--
   <error-page>
       <exception-type>java.lang.Exception</exception-type>
       <location>/error.jsp</location>
    </error-page>
    -->
    <welcome-file-list>
        <welcome-file>signIn.jsp</welcome-file>
    </welcome-file-list>
    <!--    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
</web-app>
